<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/css/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="layout">
      {{{body}}}
      <div id="layout-footer"></div>
    </div>
    <div id="footer-wrap">

      <div id="footer">
          <a href="/public/about.html">about</a>
      </div>
    </div>
  </body>
</html>
