version: 2.1
orbs:
    snyk: snyk/snyk@0.0.8
jobs:
    build:
        docker:
            - image: circleci/node:latest
        steps:
            - checkout
            - run: npm install
            - run: npx tsc
            - snyk/scan:
                fail-on-issues: true
                monitor-on-build: true
                token-variable: SNYK_TOKEN

workflows:
    version: 2
    build_and_test:
        jobs:
        - build
